<%- include("header") -%>
<!-- Main Border -->



<!-- Consider inserting a modal for newsletter sign up -->




<div>
  <h1 class="mainHeaderText">Redefining <span class="red">Personal</span> Training.</h1>
</div>
<hr>

<div id="portrait">


  <img src="images/portrait.JPEG" alt="portrait">
</div>
<!-- Mission -->
<div id="mission">

  <div class="d-flex justify-content-center flex-row">
    <h2><u>My Mission</u></h2>
  </div>
  <div class="d-flex justify-content-center">


    <div class="missionStatement">
      <h4>My goal is to impart my clients with knowledge, resources, genuine support, and direction towards their utmost potential! When you work with me, you work with someone who truly cares about the process.</h4>
    </div>
  </div>
</div>




<!-- Offers -->

<h2 class="cent"><u>Types of Programs</u></h2>

<div id="offers">

  <div class="row">
    <div class="col-lg-6">


      <img src="images/programming.jpg" alt="Programming" class="block-picture" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="linear">
    </div>

    <div class="col-lg-6">
      <div class="programText1" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="linear">

        <div class="textCard">



          <div class="textHeader">
            <h2>Program Only</h2>
          </div>

          <div class="d-flex justify-content-center">
            <ul>
              <li>
                <h4>Customized Monthly Program</h4>
              </li>
              <li>
                <h4>Answers To Any General Fitness Questions</h4>
              </li>
            </ul>
          </div>
          <div class="d-flex justify-content-center">
            <a href="/contact-me"><button type="button" name="button" class="btn btn-success center">$25/Month</button></a>
          </div>
        </div>





      </div>
    </div>

  </div>


  <div class="row">

    <div class="col-lg-6">
      <div class="programText2" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="linear">
        <div class="textCard">



          <div class="textHeader">
            <h2>Online Coaching</h2>
          </div>

          <div class="d-flex justify-content-center">
            <ul>
              <li>
                <h4>Weekly Check-In</h4>
              </li>
              <li>
                <h4>Customized Monthly Program</h4>
              </li>
              <li>
                <h4>Nutritional Guidance</h4>
              </li>
              <li>
                <h4>Access To Private Facebook Group</h4>
              </li>
            </ul>
          </div>
          <div class="d-flex justify-content-center">
            <a href="/contact-me"><button type="button" name="button" class="btn btn-success center">$65/Month</button></a>
          </div>
        </div>

      </div>


    </div>

    <div class="col-lg-6">
      <img src="images/online-coaching.jpg" alt="online-coaching" class="block-picture" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="linear">

    </div>
  </div>


  <div class="row">

    <div class="col-lg-6">
      <img src="images/bros.jpg" alt="in-person coaching" class="block-picture" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="linear">


    </div>

    <div class="col-lg-6">

      <div class="programText3" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="linear">
        <div class="textCard">



          <div class="textHeader">
            <h2>In-Person Coaching</h2>
          </div>

          <div class="d-flex justify-content-center">
            <ul>
              <li>
                <h4>Online Weekly Check-Ins (Optional)</h4>
              </li>
              <li>
                <h4>Customized Monthly Program</h4>
              </li>
              <li>
                <h4>Nutritional Guidance</h4>
              </li>
              <li>
                <h4>Access To Private Facebook Group</h4>
              </li>
              <li>
                <h4>4 In-Person Coaching Sessions Each Month</h4>
              </li>
            </ul>
          </div>
          <div class="d-flex justify-content-center">
            <a href="/contact-me"><button type="button" name="button" class="btn btn-success center">$75/Month</button></a>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>










<!-- Testimonial Section -->

<h2 class="testimonialHeading"><u>Testimonials</u></h2>

<div class="testimonialText">
  <h3>Here are just a few of the clients that I've had the pleasure of working with. Their goals varied greatly, but they were still able to make progress toward their goal. Together, we can achieve great things.</h3>
</div>
<div class="d-flex justify-content-center flex-row">

  <div class="frontSpiral">

  </div>

  <div class="testimonial">


    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="5000">
          <img src="/images/jarvisbeforeafter.jpeg" class="d-block w-100 carimg" alt="Client1">
        </div>
        <div class="carousel-item" data-interval="5000">
          <img src="/images/tevinbeforeafter.jpeg" class="d-block w-100 carimg" alt="Client2">
        </div>
        <div class="carousel-item" data-interval="5000">
          <img src="/images/lorrabeforeafter.jpeg" class="d-block w-100 carimg" alt="Client3">
        </div>
      </div>
    </div>
  </div>

  <div class="backSpiral">

  </div>
</div>










<%- include("footer") -%>
