<%- include("header") -%>
<img src="/images/rack.jpeg" alt="" class = "meetTylerBanner">

<div class="bioSpace">



  <img src="/images/pull2.JPEG" alt="deadlift" class="bioPic1 img-fluid">

  <div class="bioText">
    <p> Growing up, I was never very athletic, and I was considered to be extremely overweight for the majority
      of my life. I always admired stronger, more fit people and sought their approval. Although I played a lot
      of sports, most of my time was spent eating unnecessary amounts of junk food and living a sedentary
      lifestyle. I knew that this was not healthy, but I lacked the discipline and knowledge to do anything
      about it. In middle school I finally decided to take responsibility for my health and enrolled in football.
      We would run for hours on end with little to no weightlifting. On top of all the running, I started under
      eating in an attempt to get in better shape. Unknowingly, I was creating a recipe for disaster.
      Unsurprisingly I lost a large amount of weight in a short time frame, but it was likely a good amount of
      muscle. I ended up becoming the dreaded “Skinny Fat”.</p>
    <p> This was the point when my self-esteem hit rock-bottom. I was weak, unhealthy, and continued to have
      a poor relationship with food. This lasted up until my freshmen year of college, when I finally decided to
      educate myself and commit to the fitness lifestyle. This was the perfect opportunity for me because I
      had nearly unlimited access to my college’s gym and the healthy food options in the campus cafeteria
      (Of course this was all included in my tuition, but a win is a win). In hindsight, this was essentially the
      most pivotable moment in my life. I began researching techniques and best practices on YouTube and
      bodybuilding.com like 95% of gym goers do. A lot of the things that I learned are now mostly outdated
      approaches, and mostly only applied to novices. Looking back on it, most of what I learned from these
      resources are now mostly outdated approaches or applied to novices, but it was still all the information
      that I needed to hit the gas pedal on my fitness lifestyle.</p>
    <p>
      I began noticing drastic changes in only a few months. I began to love what I saw in the mirror for the
      first time in my life. Along with this new-found self-love, my confidence and overall health increased. I
      noticed that I got sick less, and my energy levels were higher than ever before. At this point I was able to
      eat a lot more food, while simultaneously losing body fat and building muscle. If you would have told me
      that I could develop my body to this extent years prior, I would have laughed and continued eating my
      Debbie cake. I was hooked and began to believe that anything was possible.</p>
  </div>
</div>

<hr>

<div class="bioSpace">
  <img src="/images/squat1.jpg" alt="squat" class="bioPic2 img-fluid">
  <div class="bioText">
    <p>Eventually I noticed all the progress that powerlifters on YouTube and Instagram made which lead me to
      switch my focus from general fitness to strength and performance in an attempt to compete. I did my
      first competition in August of 2017 at APA Battle of the Bad Asses in Conway, AR. I totaled 1,194 at a
      body weight of 217lbs with a 440lb Squat, 225lb bench press, and a 530lb deadlift. I competed again in October
      of 2018 at the USPA Rhino Massacre. Here I totaled 1274 with a 468.5lb squat, 230lb bench press, and a 574lb
      Deadlift (Junior State Record). My 3rd Competition was in February of 2019 USPA AR Drug Tested
      championship. I totaled 1,304 with a 462.5lb squat, a 242lb bench, and a 600lb deadlift (Junior State Record).
      I also won the best lifter award for the Junior age group of 20-23 with a body weight of 203. In less than
      2 year I was able to add over 100lb to my total while also being at a lower body weight.</p>
    <p>
      Although fitness is such a huge part of my life, I never considered doing it as a career. But in 2018, I
      decided to become a certified personal trainer through ACE. Shortly after that I fell in love with training
      clients at LA Fitness. Although I enjoyed my time at LA Fitness, I eventually realized that my services
      were inhibited in many ways, so I decided to go independent. Which leads me to where I am today. If
      you would like to learn anything else about me or enroll in my training program, <a href="contact-me">click here</a>.</p>
  </div>
</div>




















<%-include("footer")-%>
